@model IEnumerable<MVCFaculty.Models.Enrollment>

@{ ViewData["Title"] = "EnrollmentList"; }

<h1>Enrollment List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>

                <td>
                    <a asp-action="FinishEnrollment" asp-route-id="@item.EnrollmentID">Unenroll</a>
                </td>
            </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Enrollments" asp-action="Index">Back to list</a>
</div>